@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

* {
  font-family: "Outfit", sans-serif;
}

/* WebKit scrollbar styling for Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 8px;
  background: #1e1e1e;
}

*::-webkit-scrollbar-thumb {
  background: #787777;
  border-radius: 4px;
}

body{
  color: white;
  background-color: #1e1e1e;
}

.no-scrollbar{
  scrollbar-width: none;

}